<!DOCTYPE html>
<html>
<head>
  <title>Mooremarket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%if session[:user_id] %>
		<%= link_to "Logout", "/logout" %> 
	<%else%>
		<%= link_to "Login using Facebook", "/auth/facebook",:class => "popup", :"data-width" => 600, :"data-height" => 400 %>	
	<%end%>
	
	<%= yield %>
	
</body>
</html>
